<div class="container">
  <div class="card">
    <ul>
      <% @articles.each do |article| %>
      <div class="card-body">
        <h3 class="card-title"><%= link_to article.title, article_path(article) %></h3>
        <p class="card-text"><%= article.content %></p>
      </div>
      <% end %>
    </ul>
  </div>
</div>
